@model APMS.Business.Web.DetailNotificationViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <h3 class="modal-title"><i class="fa fa-envelope"/> Notification Detail</h3>
</div>
<div class="modal-body">
    <!-- BEGIN FORM-->

    <div class="box-body">
        <dl class="form-group">
            <dt class="col-sm-2 control-label"><font size="4">Title</font></dt>
            <dd><font size="4">@Model.Title</font></dd>
            <dt class="col-sm-2 control-label"><font size="4">Time</font></dt>
            <dd><font size="4">@Model.Time</font></dd>
            <dt class="col-sm-2 control-label"><font size="4">Content</font></dt>
            <dd><font size="4">@Model.Content</font></dd>
        </dl>
    </div>


    <!-- END FORM-->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>